:root {
  /* Кольори */

  --primary-text-color: #ffffff;
  --background-color: #0b1d26;
  --accent-color: #fbd784;

  /* Шрифти */
  --font-primary: "Chivo", sans-serif;
  --font-secondary: "Chonburi", serif;
  --font-titles: "Cinzel", serif;
}
body {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.subtitle {
  text-transform: uppercase;
  letter-spacing: 6px;
  display: flex;
  gap: 32px;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--background-color);
}
.header-container {
  display: flex;
  gap: 631px;
  align-items: center;
}
.logo {
  font-family: var(--font-secondary);
  font-size: 32px;
  font-variant: small-caps;
}
.nav {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 37px;
}
.nav-item:hover {
  color: var(--accent-color);
}
.header-button {
  color: var(--primary-text-color);
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 17px;
}
.header-button::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/vectors/cart_white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.header-button:hover::before {
  background-image: url(../img/vectors/cart_accent.svg);
  background-repeat: no-repeat;

  background-size: contain;

  cursor: pointer;
}
.header-button:hover {
  color: var(--accent-color);
}
.hero-container {
  margin-top: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 950px;
  gap: 32px;
}
.hero-group {
  text-align: left;
}
.hero-subtitle {
  text-transform: uppercase;
  letter-spacing: 6px;
  display: flex;
  gap: 32px;
}
.hero-subtitle::before {
  content: "";
  display: flex;
  align-self: center;
  height: 5px;
  width: 72px;
  background-color: var(--accent-color);
}
.hero-title {
  font-family: var(--font-titles);
  font-size: 88px;
  line-height: 114%;
  text-transform: capitalize;
  margin-top: 32px;
}
.hero-button {
  display: flex;
  gap: 8px;
  color: var(--primary-text-color);
  align-items: center;
  margin-top: 32px;
}
.hero-button::after {
  content: "";
  background-image: url(../img/vectors/arrow_down_white.svg);
  width: 16px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-button:hover::after {
  background-image: url(../img/vectors/arrow_down_accent.svg);
}
.hero-button:hover {
  color: var(--accent-color);
}
.main {
  background-color: var(--background-color);
}
.level-container {
  margin-top: 744px;
}
.subtitle {
  color: var(--accent-color);
}
.subtitle::before {
  content: "";
  display: flex;
  align-self: center;
  height: 5px;
  width: 72px;
  background-color: var(--accent-color);
}
.title{
  font-family: var(--font-titles);
  font-size: 64px;
  margin-top: 27px;
}
.text{
  font-weight: 900;
  line-height: 178%;
}
.level-container{
  display: flex;
  flex-direction: column;
  gap: 27px;
}


.footer {
  background-color: var(--background-color);
}
